#titleScreen{
    background-image: url('../images/defaultBackground.jpg');
    background-position: center;
    background-size: cover;
    height: 360px;
    width: 270px;
}

#informationScreen{
    display: none;
}

#gameScreen{
    display: none;
}